.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div > button {
    width: 50px;
    height: 25px;
    margin: 3px 0px 3px 0px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 182);
    height: 35px;
}